*{
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: #333;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top:0px;
}
#navbar{
    
    height:100%;
    width: 50%;
    display: flex;
    align-items: center;
    
}
#navbar ul{
    display: flex;  
    list-style: none;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
#navbar ul li{
    padding: 16px;
}
#navbar ul a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px;
    font-weight: 500;
    border-bottom: 2px solid red;   
    color: white;
}
ul a:hover{
    background-color: red;
}
    #welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    height: 100vh;
}
#projects{
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
}
.project-tile{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 450px;
    background-color: red;
    margin: 15px;
    
}
.project-tile span{
    text-align: center;
    margin: 15px 0px;
    font-weight: 500;
    color: white;
    font-size: 24px;
}
.project-tile .image{
    width: 100%;
    height: 90%;
}
.image img{
    width: 100%;
    height: 100%;
}
.project-tile a{
    text-decoration: none;
    color: white;
}
#footer{
    padding-top:20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
    height: 200px;
}
div.social{
    margin-top: 20px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.social a{
    text-decoration: none;
    color: white;
}
h2,#profile-link{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0px;
    text-decoration: underline;
}
#profile-link a{
    text-decoration: none;
    color: black;
}
@media (max-width:1000px){
    .project-tile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: red;
    margin: 15px;
}

}